* {
    box-sizing: border-box;
    -webkit-appearance: none;
    /*Safari/Chrome*/
    -moz-appearance: none;
    /*Firefox*/
    -ms-appearance: none;
    /*IE*/
    -o-appearance: none;
    /*Opera*/
    appearance: none;
    -webkit-border-radius: 0;

}

html,
body {
    font-family: "baskerville", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Arial", sans-serif;
    font-size: 1em;
    padding: 0;
    /*    margin: 10;*/
    font-weight: 400;
    /*    line-height: 1.5;*/
}

body > * {
    padding: 1em;
    /*    margin: .5em;*/
}

body {
    /*    transition: .5s ease-in;*/
    /*    display: flex;*/
    min-height: 100%;
    /*    flex-direction: column;*/
    background-image: url(../images/notebook-paper-background-notebook-paper-background-notebook-paper-background-powerpoint-notebook-paper-background-designs-notebook-paper-background-728x582.jpg);

}

h1 {
    font-family: "lucida handwriting";
    font-size: 2.4em;
    text-align: center;
    color: #D4AF37;
    margin-top: 46px;
}

h2 {
    font-family: "lucida handwriting";
    font-size: 1.5em;
    text-align: center;
    color: #D4AF37;
}

h3 {
    font-family: "lucida handwriting";
    font-size: 1.5em;
    text-align: center;
    color: white;
    /*    text-shadow: 2px 2px black;*/
}

.index {
    color: white;
    background-image: url(../images/cover.jpg);
    height: 42em;
    background-repeat: no-repeat;
    background-size: cover;
    border: #D4AF37 3px solid;
    margin: 20px;
}

.afterhome > h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.4em;
}

.afterhome > a {

    width: 100%;
    height: 4em;
    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin-top: 30px;
    padding: 20px;
    text-decoration: none;
}

.registreren {
    color: white;
    background-image: url(../images/cover.jpg);
    height: 42em;
    background-repeat: no-repeat;
    background-size: cover;
    border: #D4AF37 3px solid;
    margin: 30px;
}

.registreren > form {
    border-style: none;
    /*    margin-top: 20px;*/
}

.registreren > form > label {
    display: inline-block;
    margin-top: 20px;
    height: 35px;
    margin: 30px;
}

form > button {
    width: 100%;
    height: 4em;
    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    margin-top: 30px;
}

.registreren > h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.4em;
}

input[name=username] {
    width: 22em;
    padding: 0.750em;
    border-radius: 0.750em;
    line-height: normal;
    font-size: 1em;
}

input[type=password] {
    width: 22em;
    padding: 0.750em;
    border-radius: 0.750em;
    line-height: normal;
    font-size: 1em;
}

.terug {
    border-style: none;
    color: white;
    text-decoration: none;
    background-color: #D4Af37;
    width: 100%;
    height: 2em;
    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin-top: 30px;
    padding: 5px;

}

.buttonRemove {
    width: 49%;
    align-content: center;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-family: "backersville";
    padding-top: 10px;
    background: red;
    color: white;
    margin-top: 80px;

}

.buttons {
    display: flex;
}

.chatbutton {
    width: 49%;
    align-content: center;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-family: "backersville";
    padding-top: 10px;
    background: green;
    color: white;
    margin-top: 80px;
    margin-left: 10px;
}

img {
    max-width: 100%;
    max-height: 15em
}

nav {
    background-image: url(../images/cover.jpg);
    margin: 0;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    margin-top: -20px;
    padding-bottom: -0px;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    z-index: 1;


}

nav img {
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    width: 50px;
    background-color: #dddddd;
    /*        border: none;*/
    /*    color: white;*/
    padding: 10px 13px;
    /*        font-size: 16px;*/
    /*    cursor: pointer;*/
    /*    margin: 4px;*/
    margin-left: 26px;
    /*    margin-bottom: 0px;*/
    left: 30px;
}

nav > a:nth-of-type(3n) img {
    width: 70px;
    margin-top: -14px;

}

nav a.active {
    background-color: #D4AF37;
    /*    width: 30px;*/
    color: white;
    padding-right: 10px;
}

.uitloggen {
    position: absolute;
    top: -17px;
    right: 0;
    left: 69%;
    border: 3px solid #D4AF37;
    color: #D4AF37;
    width: 150px;
}

.newmatch {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45px;
    top: 110px;

}

.feed {
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    left: 45px;*/
    border: 3px solid #D4AF37;
    height: 200px;
    margin-left: 45px;
}

.feed > h2,
h3 {
    color: black;
    text-decoration: none;
}

.feed > h2 > a {
    color: black;
    text-decoration: none;
}
