/*general settings*/

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    /*Safari/Chrome*/
    -moz-appearance: none;
    /*Firefox*/
    -ms-appearance: none;
    /*IE*/
    -o-appearance: none;
    /*Opera*/
    appearance: none;
    -webkit-border-radius: 0;

}

html,
body {
    font-family: "baskerville", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Arial", sans-serif;
    font-size: 1em;
    padding: 0;
    /*    margin: 10;*/
    font-weight: 400;
    /*    line-height: 1.5;*/
}

body > * {
    padding: 1em;
    /*    margin: .5em;*/
}

body {
    transition: .5s ease-in;
    /*    display: flex;*/
    min-height: 100%;
    /*    flex-direction: column;*/
    background-image: url(../images/notebook-paper-background-notebook-paper-background-notebook-paper-background-powerpoint-notebook-paper-background-designs-notebook-paper-background-728x582.jpg);

}

h1 {
    font-family: "lucida handwriting";
    font-size: 2em;
    text-align: center;
    color: #D4AF37;
}

h2 {
    font-family: "lucida handwriting";
    font-size: 1.5em;
    text-align: center;
    color: #D4AF37;
}

h3 {
    font-family: "lucida handwriting";
    font-size: 1.5em;
    text-align: center;
    color: white;
    /*    text-shadow: 2px 2px black;*/
}

.index {
    color: white;
    background-image: url(../images/cover.jpg);
    height: 42em;
    background-repeat: no-repeat;
    background-size: cover;
    border: #D4AF37 3px solid;
    margin: 20px;
}

a {
    color: white;
    text-decoration-line: none;
}

.registreren {
    margin-top: -30px;
    margin-left: -20px;
}

.registreren > form > fieldset {

    /*        height: 38em;*/
    /*                    margin: 1em;*/
    border-style: none;
    margin-top: -40px;

}

.registreren > form > fieldset > label {
    display: inline-block;
    margin-top: 20px;
    height: 35px;
}

input[type=text] {
    width: 22em;
    padding: 0.750em;
    border-radius: 0.750em;
    line-height: normal;
    font-size: 0.8em;
}

input[type=password] {
    width: 22em;
    padding: 0.750em;
    border-radius: 0.750em;
    line-height: normal;
    font-size: 0.8em;
}

input[type=submit] {
    width: 100%;
    height: 4em;
    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    margin-top: 30px;
}

input[type=radio] {
    -webkit-appearance: radio;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

.logoRegistreren > h1 {
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 2.4em;
}

nav {
    background-image: url(../images/cover.jpg);
    margin: 0;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    margin-top: -20px;
    padding-bottom: -0px;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    z-index: 1;

}

nav img {
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    width: 50px;
    background-color: #dddddd;
    /*        border: none;*/
    /*    color: white;*/
    padding: 10px 13px;
    /*        font-size: 16px;*/
    /*    cursor: pointer;*/
    /*    margin: 4px;*/
    margin-left: 14px;
    /*    margin-bottom: 0px;*/
}

nav > a:nth-of-type(3n) img {
    width: 70px;
    margin-top: -14px;

}

nav a.active {
    background-color: #D4AF37;
    /*    width: 30px;*/
    color: white;
    padding-right: 10px;
}


aside footer {
    width: 200px;
    align-content: center;
    border: #D4AF37 3px solid;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2),
    0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 20px;

}

.button {
    width: 100%;
    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-family: "backersville";
    padding-top: 10px;



}


.buttons {
    width: 75%;
    margin-left: 40px;
    /*        height: 5em;*/
    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

section {
    background-color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
}

p {
    font-family: "baskerville";
    color: black;
}


.top {
    top: 0px;
    background-image: url(../images/cover.jpg);
    height: 120px;
    margin: -10px;

}

.top > h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
}

.top > h2 {
    margin: 6px;
}

section > h2 {
    margin: 0;
    top: 20px;
    padding: 20px;
}

section > aside {
    align-content: left;
    margin-left: 150px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}

section > img {
    width: 150px;
    float: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

section > p {
    margin: 10px;
    padding-bottom: 10px;
}

section > a {
    width: 100%;
    height: 40px;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    text-align: center;
    display: inline-block;
    align-content: center;
    padding-top: 10px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

section:nth-last-child(1) {
    margin-bottom: 60px;
}

footer {
    /*    width: 75%;*/
    /*    margin-left: 40px;*/
    /*    height: 5em;*/
    bottom: 15px;
    position: absolute;
    align-content: center;
    color: white;
    border: #D4AF37 3px solid;
    /*    margin-bottom: 0px;*/
    text-align: center;
    display: inline-block;
    width: 200px;
    left: 20px;
}

fieldset {
    border: 0px;
}

#zoek {
    margin-top: 203px;
    margin-left: 20px;
}

#zoek > form button {
    width: 40px;

    height: 40px;

}

#zoek > form img {
    width: 50px;
    height: 50px;
    margin-left: 280px;
    margin-top: -200px;
}

article > h3 {
    color: black;
    font-family: "baskerville";

}

article > a img {
    width: 120px;
    margin: 10px;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
}

article {
    padding-left: 40px;
}

.chat > p {
    background-color: red;
    width: 30px;
    height: 30px;
    z-index: auto;
    color: white;
    margin-left: 134px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    font-size: 26px;

}

.chat > a {
    margin-left: 180px;
    width: 140px;
    height: 40px;
    margin-top: 40px;
}

.chat > img {
    position: absolute;
}

.chat {
    height: 230px;
}

button {
    width: 100%;
    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-family: "backersville";

}

.select {
    width: 49%;
    padding-top: 10px;

    align-content: center;
    background-color: #D4AF37;
    color: white;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border: none;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    font-family: "backersville";
}

#personal {
    margin: 10px;
}

#personal > fieldset {
    font-size: 1.3em;
    margin-top: 10px;

}

#personal > label {
    padding: 10px;

}

#personal > input {
    left: 10px;
    padding: 10px;
    width: 200px;
    height: 40px;

}

#vragen {
    margin: 10px;
}

#vragen > fieldset {
    font-size: 1.3em;
    margin-top: 10px;

}

#vragen > label {
    padding: 10px;

}

#vragen > input {
    left: 10px;
    padding: 10px;
    width: 20px;
    height: 40px;

}

#vragen > select {
    left: 10px;
    padding: 10px;
    width: 200px;
    height: 40px;

}

#matchvraag {
    margin: 10px;
}

#matchvraag > fieldset {
    font-size: 1.3em;
    margin-top: 10px;
}

#matchvraag > label {
    padding: 10px;

}

#matchvraag > input {
    left: 10px;
    padding: 10px;
    width: 20px;
    height: 40px;

}


#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 50px;
    width: 70%;
    min-width: 300px;
}


label {
    margin-right: 20px;
}

/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #D4AF37;
}

/* Hide all steps by default: */

.tab {
    display: none;
}



#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #D4AF37;
}


#regForm {
    margin-top: 30px;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
}

#regForm > .tab > .quiz-answer1 > label > img {

    width: 150px;
}

#regForm > .tab > .quiz-answer2 > label > img {

    width: 150px;
}

#regForm > .tab > .quiz-answer > label > img {

    width: 150px;
}

.profielmaken > a {
    background: none;
    box-shadow: none;
    height: 180px;

}

.stuur {
    margin-left: 43px;
    height: 100px;
}

.chat {
    height: 280px;
}


@media screen and (min-width: 30em) {
    .buttons {
        width: 75%;
        margin-left: 100px;
        /*        height: 5em;*/
        align-content: center;
        background-color: #D4AF37;
        color: white;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        border: none;
        margin-bottom: 20px;
        text-align: center;
        display: inline-block;
    }

    nav {
        background-image: url(../images/cover.jpg);
        margin: 0;
        left: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-top: 0px;
        margin-top: -20px;
        padding-bottom: -0px;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        z-index: 1;

    }

    nav img {
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        width: 50px;
        background-color: #dddddd;
        /*        border: none;*/
        /*    color: white;*/
        padding: 10px 13px;
        /*        font-size: 16px;*/
        /*    cursor: pointer;*/
        /*    margin: 4px;*/
        margin-left: 70px;
        /*    margin-bottom: 0px;*/
    }

    nav > a:nth-of-type(3n) img {
        width: 70px;
        margin-top: -14px;

    }

    nav a.active {
        background-color: #D4AF37;
        /*    width: 30px;*/
        color: white;
        padding-right: 10px;
    }


}

@media screen and (min-width: 48em) {
    .buttons {
        width: 75%;
        margin-left: 140px;
        /*        height: 5em;*/
        align-content: center;
        background-color: #D4AF37;
        color: white;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        border: none;
        margin-bottom: 20px;
        text-align: center;
        display: inline-block;
    }



    nav {
        background-image: url(/images/cover.jpg);
        margin: 0;
        left: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-top: 0px;
        margin-top: -20px;
        padding-bottom: -0px;
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        z-index: 1;

    }

    nav img {
        box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
        width: 50px;
        background-color: #dddddd;
        /*        border: none;*/
        /*    color: white;*/
        padding: 10px 13px;
        /*        font-size: 16px;*/
        /*    cursor: pointer;*/
        /*    margin: 4px;*/
        margin-left: 160px;
        /*    margin-bottom: 0px;*/
    }

    nav > a:nth-of-type(3n) img {
        width: 70px;
        margin-top: -14px;

    }

    nav a.active {
        background-color: #D4AF37;
        width: 10px;
        color: white;
        padding-right: 10px;
    }

    section {
        width: 400px;
        float: left;
        margin: 20px;
        margin-left: 40px;
    }

    .registreren {
        width: 860px;
        margin-left: 250px;
    }
}
