<body class="index">
    <% include header.ejs %>
<title>Book A Date</title>
<div class="afterhome">
<h1>Book A Date</h1>
  <a href=/log-in> Inloggen</a>
  <a href=/sign-up>Registreren</a>
  <a href=/info> Informatie</a>
</div>
        <% include footer.ejs %>
</body>
