<% include header.ejs %>
    <% include nav.ejs %>
        <% include status.ejs %>
            <header class="top">
                <h1>Chats</h1>
            </header>

            <p>
                <a href=/add><img alt="nieuwe match"  class="newmatch" src="images/plus.png"> </a>
            </p>
            <% include footer.ejs %>
