<% include header.ejs %>
    <% include nav.ejs %>
      <header class="top">
          <h1>edit</h1>
      </header>
      <% for (var index = 0; index < data.length; index++) { %>


            <h3>pas hier je gegevens aan</h3>

            <form action="/updateUser/<%=session.user.id %>" method="post" enctype="multipart/form-data">

              <label>Your name
                             <input type="text" name="voornaam" value="<%= data[index].voornaam %>" required>
                         </label>


                        <button>Aanpassen</button>
                    </form>
  <% } %>
