<% include header.ejs %>
    <% include nav.ejs %>
      <header class="top">
          <h1>edit</h1>
      </header>


            <h3>pas hier je gegevens aan</h3>

            <form action="/updateUser" method="post">

                <label for="voornaam">naam:</label>
                <input name="voornaam" type="text">


                        <button>Aanpassen</button>
                    </form>
