<% include header.ejs %>
    <% include nav.ejs %>
        <% include status.ejs %>
            <% if (user) { %>

                <p>
                    <% for (var index = 0; index < data.length; index++) { %>
                        <h2>
                            <a href="/<%= data[index].id %>">
                                <%= data[index].name %>
                            </a>
                        </h2>
                        <h3>
                            <%= data[index].bio %>
                        </h3>

                        <% } %>
                </p>
                <% } %>

                    <% if (user) { %>
                        <p>
                            <a href=/add>Add a movie</a>
                        </p>
                        <% } %>
                            <% include footer.ejs %>
