<body class="registreren">
    <% include header.ejs %>
        <title>Informatie</title>
        <h1>Informatie</h1>
      <p>Book a date is een dating web app die gebaseerd is op de mensen te koppelen die elkaar vinden door middel van hun liefde voor boeken. Door deze web app kunnen mensen elkaar vinden en zo een nieuw hoofdstuk van hun leven laten beginnen.
</p>
        <p> <a class="terug" href="/afterhome"> Terug</a></p>
        <% include footer.ejs %>
</body>
