<body class="registreren">
    <% include header.ejs %>
        <title>Inloggen</title>
        <h1>Inloggen</h1>
        <form action=/log-in method=post>
            <label>
   Gebruikersnaam
    <input name=username>
  </label>
            <label>
Wachtwoord
    <input name=password type=password>
  </label>
            <button>Inloggen</button>
        </form>
        <p> <a class="terug" href="/"> Terug</a></p>
        <% include footer.ejs %>
</body>
