<% include header.ejs %>
    <% include nav.ejs %>


          <header class="top">
            <title>404 - not found</title>

                <h1>Error</h1>
            </header>

    <p>Helaas is hier niets gevonden</p>

    <p> <a class="home" href="/"> Home</a></p>


    <% include footer.ejs %>
