<% include header.ejs %>
    <% include nav.ejs %>
        <title>
            <%= data.gebruikersnaam %> - Book A Date</title>
        <h1>
            <%= data.gebruikersnaam %>
        </h1>
        <div class="feed">
            <% if (data.profielfoto) { %>
                <img alt src="/profielfoto/<%= data.profielfoto %>">
                <% } %>
                    <p>
                        <%= data.gebruikersnaam %>
                    </p>
                    <% if (user) { %>

                        <p class="buttons">
                            <button class="chatbutton"> Chat</button>
                        </p>
                        <% } %>
        </div>
        <p> <a href="/"> Terug</a></p>

        <% include footer.ejs %>
