<% include header.ejs %>
    <% include nav.ejs %>
        <% include status.ejs %>
            <header class="top">
                <h1>Zoeken</h1>
            </header>
            <% if (user) { %>
                <p>

                </p>

                <% } %>

                    <% include footer.ejs %>
