<p class="uitloggen">
            <% if (user) { %>
                Hoi
                <%= user.gebruikersnaam %>!
                    <a href=/log-out>Uitloggen</a>
                    <% } else { %>
                        <a href=/log-in> Inloggen</a> or

                        <a href=/sign-up>Registreren</a>
                        <% } %>
        </p>
